<p id="notice"><%= notice %></p>

<% if params[:user_id] != nil %>
  <p><h3><%= User.find(params[:user_id]).login %>'s posts</h3 ></p>
<% end %>
<%= link_to 'New Post', new_post_path %>
<br>
<% @posts.each do |post| %>
  <div class="blog-post">
    <h3><%= post.title %></h3><small><%= post.created_at.to_s.slice(0, 10) %></small>
    <p><%= post.content %></p>
    <div class="callout">
      <ul class="menu simple">
        <li>
          <strong><%= link_to 'Comments', post %>  Written by:<%= link_to post.user.login, post.user %></strong>
        </li>
      </ul>
    </div>
  </div>
<% end %>

